body,
h1,
h2,
ol,
ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sidebar {
  background-color: #333;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.sidebar ul li {
  margin: 0 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  margin-right: 5px;
}

.main_content {
  flex-grow: 1;
  padding: 20px;
  color: darkblue;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
